@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  display: block;
  text-align: right;
}

.card-add {
  margin: 10px 30px 20px 80px;
  padding: 10px;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid tomato;
  color: tomato;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}
.card-product {
  display: inline-block;
  background-color: #f5f5f5;
  margin: 20px;
  text-align: center;
}

.card-image {
  width: 300px;
}

.icon {
  text-align: right;
}

.item {
  display: inline-block;
  margin: auto;
}

.item-product {
  text-align: left;
}

.item-product h1, .item-product button {
  display: inline-block;
}

.item-image {
  max-height: 100px;
}

.wrap {
  display: inline;
}