.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrap-background {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  height: 100vh;
}

.absolute {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrap-main {
  display: block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.wrap-result {
  margin-top: 5px;
  position: relative;
  border: 1px solid black;
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.result {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  color: black;
  width: 100%;
}

#hexName {
  border: 1px solid black;
  display: inline-block;
  width: 198px;
  height: 50px;
  font-size: 20px;
  text-align: center;
}